In [ ]:
select 2