In [ ]:
select 1